body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.score {
    margin-bottom: 20px;
    font-size: 24px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draggable-items, .matching-pairs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.camera-image {
    margin-bottom: 50px;
}

.camera-image img {
    max-width: 100%;
    height: auto;
}

.draggable {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droppable {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.droppable[data-number]::before {
    content: attr(data-number);
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.droppable-hover {
    border-color: #000;
}

.dropped {
    border-color: green;
}

.wrong {
    border-color: red;
}

.score {
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

#reset-btn {
    background-color: #757575; /* Gray */
}

#reset-btn:hover {
    background-color: #eb3232; /* Darker Gray */
}


#play-again-btn, #reset-btn {
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 8px; /* Adjust margin to separate buttons */
    transition-timing-function: ease-in-out;
}

#play-again-btn {
    background-color: #4CAF50; /* Green */
}

#play-again-btn:hover {
    background-color: #45a049; /* Darker Green */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dragged {
    margin-top: 5px; /* Adjust this if needed */
}

